<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Расчет за мощность</title>
</head>
<H1>Расчет за мощность</H1>
<body>
<form method="post" th:action="@{/}" th:object="${dates}">
Начало периода:
<input type="date" name="dateFrom" id="dateFrom" th:value="${dateFrom}">
<br>
<br>
Конец периода:
<input type="date" name="dateTo" id="dateTo" th:value="${dateTo}">
<br>
<br>
    <select id="group" name="group">
        <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.id} + ' - ' + ${group.name}"></option>
    </select>
    <button type="submit">Рассчитать</button>
</form>
</body>
</html>